*{
    font-size: 25px;
}

span{
    color: white;
    background-color: tomato;
}

.intro-paragraphs{
    color: cyan;
    background-color: grey;
}

#main-heading{
    color: green;
    font-size: 25px;
}

h1,h2,.about-content{
    color: blue;
}

.article-container p{
    color: green;
}

a:hover{
    color:yellow;
    background-color: green;
    font-size: 24px;
}

a:active{
    color: red;
}